body {
  background-image: url('./assets/background.jpg');
  /* background-repeat: no-repeat; */
  background-size: cover;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'montserrat', sans-serif;
}

.modal {
  width: 480px;
  height: 370px;
  padding: 40px;
  gap: 16px;
  border-radius: 16px;
  opacity: 0px;
  background: rgba(33, 41, 54, 1);
}

.modal h1 {
  color: white;
}
.form {
  width: 100%;
}
.control {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin-bottom: 1em;
}
.control label {
  color: rgba(132, 135, 144, 1);
  margin-bottom: 0.5em;
}
.control input {
  height: 38px;
  padding: 8px 16px 8px 16px;
  border-radius: 8px;
  border: 1px solid rgba(77, 85, 98, 1);
  background: rgba(33, 41, 54, 1);
  color: rgba(132, 135, 144, 1);
}
button {
  cursor: pointer;
}

.button-pink {
  width: auto;
  padding: 16px;
  border-radius: 50px;
  background: linear-gradient(90deg, #845EEE 0%, #652CD1 100%);
  color: white;
  border: none;
}
.button-previus {
  background: none;
  border: none;
  color: rgba(132, 135, 144, 1);
}

.container-buttons-actions {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.mt-1 {
  margin-top: 1em;
}

.control-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.control-error {
  margin-top: 0.5em;
  color: rgba(132, 94, 238, 1);
}

.button-select {
  color: rgba(132, 135, 144, 1);
  padding: 16px;
  width: 100%;
  margin-bottom: 1em;
  background: rgba(57, 64, 80, 1);
  border: 1px solid transparent;
  border-radius: 8px;
  text-align: left;
}

.active {
  border: 1px solid rgba(132, 94, 238, 1);
  background: rgba(101, 44, 209, 1) !important;
  color: white;
}

.container-ratio {
  color: rgba(132, 135, 144, 1);
}
input[type="radio"] {
  margin-bottom: 1.5em;
}